@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.project-hero {
  padding: 0 2rem;
  max-width: 100%;
  @include display-flex(flex, column, normal, flex-start);
  gap: 1rem;
  &__image {
    max-width: 100%;
  }
  &__text {
    width: 100%;
    @include display-flex(flex, row, space-between, baseline);
  }
  &__title {
    margin: 0;
  }
  &__link-group {
    @include display-flex(flex, row, space-between);
    gap: 2rem;
  }
  &__link:hover {
    color: $color-primary-teal;
  }
  &__tag-group {
    @include display-flex(flex, row, normal, flex-start);
    gap: 0 1rem;
    flex-wrap: wrap;
  }

  &__tag {
    margin: 0;
  }
}

.project-description-group {
  padding: 0 2rem;
  padding-bottom: 2rem;
  max-width: 100%;
  text-align: left;
  @include display-flex(flex, column, normal, flex-start);
  gap: 2rem;
}

// Dark mode Hero link style
html.theme-light .project-hero__link {
  color: $color-primary-blue;
}
