@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.project-detail {
  padding: 0 1em;
  max-width: 100%;
  @include display-flex(flex, column, normal, flex-start);
  gap: 2em;
}

.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.project-hero {
  width: 100%;
  @include display-flex(flex, column, normal, flex-start);
  gap: 1em;
  &__text {
    width: 100%;
    @include display-flex(flex, row, space-between, baseline);
  }
  &__title {
    margin: 0;
    text-align: left;
  }
  &__link-group {
    @include display-flex(flex, row, space-between);
    gap: 2em;
  }
  &__link:hover {
    color: $color-primary-teal;
  }
  &__tag-group {
    @include display-flex(flex, row, normal, flex-start);
    gap: 0.5em;
    flex-wrap: wrap;
  }
  &__tag {
    margin: 0;
  }
}

.project-description {
  width: 100%;
  @include display-flex(flex, column, normal, flex-start);
  gap: 0.25em;
  @include tablet {
    @include display-flex(flex, row);
    gap: 1em;
  }
  &__group {
    max-width: 100%;
    text-align: left;
    @include display-flex(flex, column);
    gap: 4em;
    padding-bottom: 5em;
    @include tablet {
      gap: 8em;
      :nth-of-type(even) {
        flex-direction: row-reverse;
      }
    }
  }
  &__text-group {
    width: 100%;
    @include display-flex(flex, column, normal, flex-start);
    @include tablet {
      gap: 0.5em;
    }
  }
  &__subtitle {
    margin: 0;
  }
  &__image {
    width: 100%;
    border-radius: 1em;
    @include tablet {
      width: 50%;
    }
  }
}

// Dark mode Hero link style
html.theme-light .project-hero__link {
  color: $color-primary-blue;
}
