@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hamburger {
  @include display-flex(flex, column);
  gap: 3rem;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $color-primary-teal;

  &__icon {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    @include desktop {
      display: none;
    }
  }

  &__item {
    color: $color-primary-white;
  }

  &__contact-group {
    @include display-flex(flex, row);
    gap: 3rem;
  }

  &__contact {
    cursor: pointer;
  }

  &__label {
    @include desktop {
      display: none;
    }
  }

  @include desktop {
    display: flex;
    @include display-flex(flex, row);
    position: relative;
    height: 100%;
    background: none;
  }
}

// Dark mode menu style
html.theme-dark .hamburger {
  background-color: $color-primary-blue;
}
