@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.graphic {
  &__container {
    padding-bottom: 5em;
    max-width: 100%;
    @include display-flex(flex, column);
    gap: 5em;
    @include tablet {
      gap: 8em;
    }
  }
  &__hero {
    height: 75vh;
    background-image: url(../../assets/images/graphic-projects/graphics-hero.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    @include desktop {
      height: 100vh;
    }
  }
  &__gallery,
  &__item {
    @include display-flex(flex, column);
    width: 100%;
    gap: 2em;
  }
  &__gallery {
    padding: 0 2rem;
    @include tablet {
      gap: 4em;
    }
  }
  &__tag-group {
    @include tablet {
      @include display-flex(flex, row);
      gap: 1em;
    }
  }
  &__image-group {
    @include display-flex(flex, column);
    gap: 2em;
    @include tablet {
      @include display-flex(flex, row, space-between);
      flex-wrap: wrap;
    }
  }
  &__image {
    width: 100%;
    border-radius: 1em;
    @include tablet {
      width: 47%;
    }
    @include desktop {
      width: 30%;
    }
  }
}
