@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  width: 100%;
}

.skills {
  width: 100%;
}

.projects {
  width: 100%;
  &__gallery,
  &__item {
    @include display-flex(flex, column, space-between, flex-start);
    text-align: left;
  }
  &__item-thumbnail {
    width: 100%;
  }
  &__item-tags {
    @include display-flex(flex, row);
    gap: 1rem;
  }
}
