@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  width: 100%;
  @include display-flex(flex, column);
  gap: 2rem;
  &__icon {
    animation: moveIcon ease-in-out 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;

    @keyframes moveIcon {
      from {
        top: 0;
      }
      to {
        top: 0.5rem;
      }
    }
  }

  &__image {
    position: relative;
    padding: 1rem;
    @include display-flex(flex, column);
    font-family: "Courier New", Courier, monospace;
    font-size: 1.15rem;
    height: 20rem;
    border-radius: 1rem;
  }

  &__circle-group {
    @include display-flex(flex, row, flex-start);
    gap: 0.5rem;
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__circle-group :nth-child(2) {
    background-color: $color-secondary-yellow;
  }

  &__circle-group :last-child {
    background-color: $color-primary-teal;
  }

  &__circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $color-secondary-red;
  }

  &__text-group {
    text-align: left;
  }
  &__text {
    margin: 0;
  }
  &__text--dark {
    color: $color-primary-blue;
  }
  &__text--yellow {
    color: $color-secondary-yellow;
  }
  &__indented-text {
    padding-left: 1rem;
    margin: 0;
  }
}

// Light mode Hero Image style
html.theme-dark .hero__image {
  background: rgb(100, 74, 173);
  background: linear-gradient(
    135deg,
    $color-primary-purple 0%,
    $color-primary-teal 100%
  );
  color: $color-primary-black;
}

// Dark mode Hero Image style
html.theme-light .hero__image {
  background: rgb(30, 30, 30);
  background: linear-gradient(
    135deg,
    $color-primary-black 0%,
    $color-secondary-black 100%
  );
  color: white;
}

.skills {
  width: 100%;
}

.projects {
  width: 100%;
  &__gallery,
  &__item {
    width: 100%;
    @include display-flex(flex, column, space-between, flex-start);
    text-align: left;
  }
  &__item-thumbnail {
    width: 100%;
  }
  &__item-tags {
    @include display-flex(flex, row, flex-start, flex-start);
    flex-wrap: wrap;
    gap: 0 1rem;
  }
  &__item-label {
    margin: 0.25rem 0;
    font-weight: 300;
  }
}
