@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.project-container {
  padding: 0 2em;
  max-width: 100%;
  @include display-flex(flex, column);
  gap: 5em;
  @include tablet {
    gap: 8em;
  }
}

.hero {
  width: 100%;
  @include display-flex(flex, column);
  gap: 2em;
  &__icon {
    animation: moveIcon ease-in-out 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;

    @keyframes moveIcon {
      from {
        top: 0;
      }
      to {
        top: 0.5em;
      }
    }
  }

  &__image {
    width: 100%;
    position: relative;
    padding: 1em;
    @include display-flex(flex, column);
    font-family: "Courier New", Courier, monospace;
    font-size: 1.15em;
    height: 20em;
    border-radius: 1em;
    @include tablet {
      box-sizing: border-box;
      padding: 2em;
    }
  }

  &__circle-group {
    @include display-flex(flex, row, flex-start);
    gap: 0.5em;
    max-width: 100%;
    position: absolute;
    top: 1em;
    left: 1em;
    @include tablet {
      top: 2em;
      left: 2em;
    }
  }

  &__circle-group :nth-child(2) {
    background-color: $color-secondary-yellow;
  }

  &__circle-group :last-child {
    background-color: $color-primary-teal;
  }

  &__circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $color-secondary-red;
  }

  &__text-group {
    text-align: left;
  }
  &__text {
    margin: 0;
  }
  &__text--dark {
    color: $color-primary-blue;
  }
  &__text--yellow {
    color: $color-secondary-yellow;
  }
  &__indented-text {
    padding-left: 1em;
    margin: 0;
  }
}

// Light mode Hero Image style
html.theme-dark .hero__image {
  background: rgb(100, 74, 173);
  background: linear-gradient(
    135deg,
    $color-primary-purple 0%,
    $color-primary-teal 100%
  );
  color: $color-primary-black;
}

// Dark mode Hero Image style
html.theme-light .hero__image {
  background: rgb(30, 30, 30);
  background: linear-gradient(
    135deg,
    $color-primary-black 0%,
    $color-secondary-black 100%
  );
  color: $color-primary-white;
}

.skills {
  width: 100%;
}

.projects {
  padding-bottom: 5em;
  max-width: 100%;
  @include tablet {
    width: 80%;
  }
  @include desktop {
    width: 100%;
  }
  &__gallery,
  &__item {
    width: 100%;
    @include display-flex(flex, column, space-between, flex-start);
    text-align: left;
    position: relative;
    @include desktop {
      @include display-flex(flex, row, space-between, stretch);
    }
  }
  &__item {
    background: rgba($color-primary-white, 0.1);
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    gap: 1.5em;
    transition: 0.3s;
    &:hover {
      background-color: rgba($color-primary-white, 0.2);
      transform: scale(1.02);
    }
  }
  &__item-thumbnail {
    width: 100%;
    border-radius: 0.5em;
    object-fit: cover;
    @include desktop {
      flex: 0;
      width: 50%;
    }
  }
  &__item-text-group {
    @include desktop {
      flex: 1;
      width: 100%;
      @include display-flex(flex, column, space-between, flex-start);
    }
  }
  &__item-tags {
    @include display-flex(flex, row, flex-start, flex-start);
    flex-wrap: wrap;
    gap: 0 1em;
    padding-bottom: 1.5em;
  }
  &__item-description {
    margin-bottom: 1.5em;
  }
  &__item-label {
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
  }
  &__item button {
    transition: 0.3s;
    &:hover {
      background-color: $color-primary-teal;
      color: $color-primary-blue;
    }
  }
}
