/* -------------------------------------------------------------------------- */
/*                                   Colours                                  */
/* -------------------------------------------------------------------------- */
$color-primary-blue: #030a1d;
$color-primary-teal: #58c1da;
$color-primary-purple: #644aad;
$color-primary-white: #fff;
$color-secondary-red: #ed6a5e;
$color-secondary-yellow: #ff9f24;
