/* -------------------------------------------------------------------------- */
/*                                   Colours                                  */
/* -------------------------------------------------------------------------- */
$color-primary-blue: #030a1d;
$color-primary-teal: #58c1da;
$color-primary-purple: #644aad;
$color-primary-black: #1e1e1e;
$color-primary-white: #f1f2f3;
$color-secondary-red: #ed6a5e;
$color-secondary-yellow: #ff9f24;
$color-secondary-black: #323232;
