@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

nav {
  @include display-flex(flex, row, space-between);
}

.menu {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  @include display-flex(flex, row);
  @include desktop {
    display: none;
  }
}

.nav {
  &__logo {
    font-weight: 700;
    transition: 0.2s;
  }
  &--right {
    @include display-flex(flex, row);
    gap: 1rem;
  }
}

html.theme-dark .menu {
  background-color: $color-primary-teal;
}

html.theme-light .menu {
  background-color: $color-primary-purple;
}

html.theme-dark .nav__logo:hover {
  color: $color-primary-teal;
}

html.theme-light .nav__logo:hover {
  color: $color-primary-purple;
}
