@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.testimonials {
  padding-bottom: 5em;
  &__container {
    width: 100%;
  }
  &__gallery,
  &__item {
    @include display-flex(flex, column);
  }
  &__gallery {
    gap: 4em;
  }
  &__item {
    background: rgba($color-primary-purple, 0.2);
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    gap: 1.5em;
    transition: 0.3s;
    &:hover {
      background: rgba($color-primary-purple, 0.4);
      transform: scale(1.02);
    }
    @include desktop {
      @include display-flex(flex, row, space-between);
    }
  }
  &__photo {
    width: 100%;
    border-radius: 0.5em;
    @include desktop {
      width: 30%;
    }
  }
  &__text-group {
    @include display-flex(flex, column, normal, flex-start);
    gap: 0.5em;
  }
  &__text-group,
  &__name,
  &__label {
    text-align: left !important;
  }
  &__name {
    margin: 0;
  }
  &__text {
    @include desktop {
      flex: 1;
      width: 100%;
    }
  }
}

// Light mode testimonial item style
html.theme-dark .testimonials__item {
  background: rgba($color-primary-teal, 0.1);
  &:hover {
    background: rgba($color-primary-teal, 0.2);
  }
}
