@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.toggle {
  &__checkbox {
    display: none;
  }
  &__label {
    @include display-flex(flex, column);
    width: 2.5em;
    height: 2.5em;
    background-color: $color-primary-white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.2s;
    @include desktop {
      width: 2em;
      height: 2em;
      border-radius: 0.25em;
    }
  }
  &__label:before {
    background-size: cover;
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    transition: 0.3s;
    @include desktop {
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
  }
  &__label--dark:before {
    background-image: url("../../assets/icons/icon-moon.svg");
  }
  &__label--light:before {
    background-image: url("../../assets/icons/icon-sun.svg");
  }
  &__checkbox:checked + &__label {
    background-color: $color-primary-black;
  }
}

html.theme-dark .toggle__label:hover {
  background-color: $color-secondary-red;
}

html.theme-light .toggle__label:hover {
  background-color: $color-secondary-yellow;
}
