@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.label {
  font-size: 0.7rem;
}

.container {
  @include display-flex(flex, column);
}

.theme-light {
  color-scheme: light; // Will be used to trigger color change in SVGs
  color: $color-primary-blue;
  background: $color-primary-teal;
  background: linear-gradient(
    135deg,
    rgba($color-primary-teal, 1) 0%,
    rgba($color-primary-white, 1) 45%
  );

  a {
    color: $color-primary-teal;
  }

  a:hover {
    color: $color-primary-purple;
  }
}

.theme-dark {
  color-scheme: dark;
  color: $color-primary-white;
  background: $color-primary-blue;
  background: linear-gradient(
    135deg,
    rgba($color-primary-blue, 1) 0%,
    rgba($color-primary-purple, 1) 75%,
    rgba($color-primary-teal, 1) 100%
  );

  a {
    color: $color-primary-teal;
  }

  a:hover {
    color: $color-primary-white;
  }
}
