@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
#root {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  @include desktop {
    font-size: 22px;
  }
}

h1 {
  font-size: 2.75em;
  line-height: 1.1;
  @include desktop {
    font-size: 2.5em;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: $color-primary-teal;
}

ul {
  margin: 0;
  padding-left: 0.75em;
  font-weight: 200;
}

p {
  margin: 0;
  line-height: 1.75em;
  font-weight: 200;
}

button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: $color-primary-teal;
  color: $color-primary-white;
}

button:hover {
  background-color: $color-primary-purple;
  color: $color-primary-white;
}

html.theme-dark button {
  background-color: $color-primary-black;
}

.label {
  font-size: 0.85em;
}

.theme-light {
  color-scheme: light; // Will be used to trigger color change in SVGs
  color: $color-primary-blue;
  background: $color-primary-teal;
  background: linear-gradient(
    135deg,
    rgba($color-primary-teal, 1) 0%,
    rgba($color-primary-white, 1) 45%
  );

  a {
    color: $color-primary-blue;
  }
}

.theme-dark {
  color-scheme: dark;
  color: $color-primary-white;
  background: $color-primary-blue;
  background: linear-gradient(
    135deg,
    rgba($color-primary-blue, 1) 0%,
    rgba($color-primary-purple, 1) 75%,
    rgba($color-primary-teal, 1) 100%
  );

  a {
    color: $color-primary-white;
  }
}
