@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about {
  @include display-flex(flex, column);
  gap: 0;
  scroll-behavior: smooth;
}

.about-parallax {
  padding: 0;
  margin: 0;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 300px;
}

.about-hero {
  position: relative;
  height: 90vh;
  width: 100vw;
  transform-style: preserve-3d;
  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__icon-group {
    width: 100%;
    @include display-flex(flex, row, space-around, baseline);
    // position: absolute;
    // bottom: 1rem;
    z-index: -2;
  }
  &__arrow {
    animation: moveIcon ease-in-out 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    align-self: flex-end;
    @keyframes moveIcon {
      from {
        top: 0;
      }
      to {
        top: 0.5rem;
      }
    }
  }
}

.sky {
  background: url("../../assets/images/about-me-main-sky.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: -5;
  filter: blur(2px);
  opacity: 0.5;
}

.mountains {
  background: url("../../assets/images/about-me-main-mountains-lake.png")
    no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: -4;
  filter: blur(2px);
  opacity: 0.75;
}

.me {
  background: url("../../assets/images/about-me-foreground.png") no-repeat
    center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: -1;
}

.hero-text {
  background-size: cover;
  transform: translateZ(0) scale(1);
}

.about-image {
  width: 100%;
  border-radius: 1rem;
}

.about-text {
  &__group {
    padding: 2rem;
    padding-top: 0;
    @include display-flex(flex, column);
    gap: 2rem;
  }
  &__chunk {
    @include display-flex(flex, column);
    gap: 0.5rem;
  }
  &__title {
    margin: 0;
  }
}
@include desktop {
  .sky,
  .mountains,
  .lake,
  .rocks,
  .me {
    background-size: contain;
  }
}
